<section class="faq">
    <div class="faq-block main-width">
        <div class="faq-block__title animated">
            <a href="https://reffpa.com/L?tag=d_4439605m_1599c_&site=4439605&ad=1599" target="_blank" class="faq-block__label">Sorularınıza Cevaplar</a>
            <h2>
                Sorularınıza Cevaplar
            </h2>
            <p>
                PayFix’e ne oldu? Parayı güvenli bir şekilde nasıl aktarabilirim?<br>
                7/24 destek nerede? En sık sorulan soruları derledik ve güvenle<br>
                hareket etmeniz için net cevaplar hazırladık.
            </p>
        </div>
        <div class="faq-block__content">
            <div class="faq-block__image animated">
                <img src="images/faq-image.webp" alt="FAQ Image">
            </div>
            <div class="faq-block__list animated">
                <div class="faq-block__item">
                    <h3 class="faq-block__question">
                       PayFix’e ne oldu?
                    </h3>
                    <div class="faq-block__answer">
                       2025 Mayıs itibarıyla PayFix hizmeti kullanılamamaktadır. Müşteri hizmetleri yanıt vermemekte ve şirket tarafından herhangi bir resmi açıklama yapılmamaktadır.
                    </div>
                </div>
                <div class="faq-block__item">
                    <a href="https://reffpa.com/L?tag=d_4439605m_1599c_&site=4439605&ad=1599" target="_blank" class="faq-block__question">
                        PayFix geri dönecek mi?
                    </a>
                </div>
                <div class="faq-block__item">
                    <a href="https://reffpa.com/L?tag=d_4439605m_1599c_&site=4439605&ad=1599" target="_blank" class="faq-block__question">
                        PayFix hesabına tekrar erişim sağlanabilir mi?
                    </a>
                </div>
                <div class="faq-block__item">
                    <a href="https://reffpa.com/L?tag=d_4439605m_1599c_&site=4439605&ad=1599" target="_blank" class="faq-block__question">
                       Neden 1xBet öneriliyor?
                    </a>
                </div>
                <div class="faq-block__item">
                    <a href="https://reffpa.com/L?tag=d_4439605m_1599c_&site=4439605&ad=1599" target="_blank" class="faq-block__question">
                       1xBet sistemi güvenli mi?
                    </a>
                </div>
                <div class="faq-block__item">
                    <a href="https://reffpa.com/L?tag=d_4439605m_1599c_&site=4439605&ad=1599" target="_blank" class="faq-block__question">
                       1xBet dışında başka alternatifler var mı?
                    </a>
                </div>
            </div>
        </div>
     </div>
</section>   