<section class="reviews">
    <div class="reviews__title animated">
        <div class="reviews__label">Testimonials</div>
        <h2><a href="https://reffpa.com/L?tag=d_4439605m_1599c_&site=4439605&ad=1599" target="_blank" >Müşteri Yorumları</a></h2>
        <p>
            Kullanıcılarımız ne diyor?<br>
        PayFix’ten 1xBet’e geçen kullanıcıların deneyimlerini okuyun.<br>
        Onların tecrübeleri, geçişin ne kadar kolay, güvenli ve kazançlı <br>olabileceğini gösteriyor.
        </p>
    </div>
    <div class="reviews-block animated">
        <div class="swiper reviews__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide reviews__slide">
                    <div class="reviews__slide-rating">
                       <img src="images/5stars.svg" alt="star-rating" />
                    </div>
                    <div class="reviews__slide-text">
Kayıt işleminin yalnızca iki dakika 
sürdüğünü ve fonların gecikme 
olmadan aktarıldığını belirtti. Arayüzün 
kolaylığı ve destek ekibinin hızından 
memnun kaldığını ifade etti.
                    </div>
                    <div class="reviews__slide-author">
                         İzmir’den Aslı T
                    </div>
                </div>
                <div class="swiper-slide reviews__slide">
                    <div class="reviews__slide-rating">
                        <img src="images/5stars.svg" alt="star-rating" />
                    </div>
                    <div class="reviews__slide-text">
                        Telegram üzerinden hızlı geri dönüş aldığını ve açık talimatlar sayesinde 
eski hesabından parayı kolayca 
aktarabildiğini söyledi. Platforma güven 
duyduğunu vurguladı.
                    </div>
                    <div class="reviews__slide-author">
                         Ankara’dan Murat K.
                    </div>
                </div>
                <div class="swiper-slide reviews__slide">
                    <div class="reviews__slide-rating">
                       <img src="images/5stars.svg" alt="star-rating" />
                    </div>
                    <div class="reviews__slide-text">
                        kayıt sırasında kazandığı bonusu memnuniyetle karşıladığını ve geçiş 
sürecinin şeffaf ve anlaşılır olmasından 
ötürü teşekkür etti.
                    </div>
                    <div class="reviews__slide-author">
                         İstanbul’dan Elif G.
                    </div>
                </div>
                <div class="swiper-slide reviews__slide">
                    <div class="reviews__slide-rating">
                       <img src="images/5stars.svg" alt="star-rating" />
                    </div>
                    <div class="reviews__slide-text">
                        PayFix ile yaşadığı olumsuz deneyimin
ardından 1xBet’te aradığı her şeyi
bulduğunu; kullanım kolaylığı, istikrar
ve zamanında destek aldığını ifade etti.
                    </div>
                    <div class="reviews__slide-author">
                         Bursa’dan Serkan D.
                    </div>
                </div>
                <div class="swiper-slide reviews__slide">
                    <div class="reviews__slide-rating">
                        <img src="images/5stars.svg" alt="star-rating" />
                    </div>
                    <div class="reviews__slide-text">
                        Fantastic workmanship! The team 
renovated our bathroom with precision 
and care. It now feels like a luxury 
space. Would definitely use Refit again.
                    </div>
                    <div class="reviews__slide-author">
                         Oliver Bennett
                    </div>
                </div>
                <div class="swiper-slide reviews__slide">
                    <div class="reviews__slide-rating">
                       <img src="images/5stars.svg" alt="star-rating" />
                    </div>
                    <div class="reviews__slide-text">
                        başlangıçta geçişin güvenliği 
konusunda tereddüt ettiğini, ancak bir 
temsilciyle görüştükten sonra sürecin 
sorunsuz ilerlediğini söyledi. 
                    </div>
                    <div class="reviews__slide-author">
                         Antalya’dan Lale Y
                    </div>
                </div>
                <div class="swiper-slide reviews__slide">
                    <div class="reviews__slide-rating">
                       <img src="images/5stars.svg" alt="star-rating" />
                    </div>
                    <div class="reviews__slide-text">
                        PayFix ile yaşadığı olumsuz deneyimin 
ardından 1xBet’te aradığı her şeyi 
bulduğunu; kullanım kolaylığı, istikrar 
ve zamanında destek aldığını ifade etti.
                    </div>
                    <div class="reviews__slide-author">
                     Bursa’dan Serkan D.    
                    </div>
                </div>
                <div class="swiper-slide reviews__slide">
                    <div class="reviews__slide-rating">
                       <img src="images/5stars.svg" alt="star-rating" />
                    </div>
                    <div class="reviews__slide-text">
                        kayıt sırasında kazandığı bonusu memnuniyetle karşıladığını ve geçiş
sürecinin şeffaf ve anlaşılır olmasından
ötürü teşekkür etti.
                    </div>
                    <div class="reviews__slide-author">
                         İstanbul’dan Elif G.
                    </div>
                </div>
            </div>
            <!-- Пагинация -->
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>