<section class="top">
    <div class="top-block">
         <div class="top-block__image-wrapper">
            <div class="top-block__image">
                <img src="images/top-image.webp">
            </div>
        </div>
        <div class="top-block__content main-width">
            <a class="top-block__label">
                Sorununuz için çözüm
            </a>
            <h1 class="top-block__title">
                PayFix kullanıcı yorumları <br>— hizmet gerçekten <br>durduruldu mu?
            </h1>
            <p class="top-block__text">
                Bu bağımsız platform, PayFix hizmetinde sorun 
                yaşayan kullanıcıların gerçek yorumlarını 
                toplamak amacıyla.
            </p>
            <a href="#" class="top-block__button">
                Güvenli çözüm 
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                        <path d="M10.0174 18.2669L18.2669 10.0174M18.2669 10.0174H10.0174M18.2669 10.0174V18.2669" stroke="#101014" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </i>
            </a>
        </div>

    </div>
</section>