.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 150px;


    .reviews-block {
        width: 100%;

        .swiper-wrapper {
            margin: 0 auto;
        }

    }

     &__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 21px;
            text-align: center;
             transition: all 0.5s ease .3s;

            p {
                font-size: 22px;
                line-height: 33px; 
                letter-spacing: -0.3px;
            }
        }

        &__label {
            display: flex;
            height: 27px;
            padding: 5px 12px 6px 12px;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
            background: #28282C;
            color: #FFF;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.5px;
        }

        .reviews-block {
             transition: all 0.5s ease .3s;
        }

         &__slide {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            width: 400px;
            height: 300px !important;
            border-radius: 10px;
            background: #FAFAFA;
            padding: 30px 40px;
            border: 1px solid #E6E6E6;

            &:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(7) {
              background: #E9ECF2;
              border: 1px solid #E9ECF2;
            }



            &-author {
                margin-top: auto;
                color: #B50B24;
            }
        }
}