.top {
    padding: 30px;
    background-color:  #101014;

    .top-block {
        flex-flow: column;
        flex: none;
        place-content: center;
        align-items: center;
        gap: 0;
        width: 100%;
        height: 100vh;
        min-height: 700px;
        padding: 50px 0 0;
        display: flex;
        position: relative;
        overflow: hidden;

        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 6px;
            position: relative;
            z-index: 1;
        }

        &__label {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            height: 25px;
            border-radius: 16px;
            background: #28282C;
            padding: 5px 12px;
            color: #D0D1DB;
            font-size: 14px;
            line-height: 14px;
            opacity: 0;
            visibility: hidden;
            animation: opacityUp .5s ease forwards 1s;
            
            &:before {
                content: '';
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #00FF08;
                animation: shadow 1s linear infinite;
            }
        }

        &__title {
            color: #FFF;
            font-size: 51px;
            font-weight: 500;
            line-height: 61px; 
            letter-spacing: -1px;
            margin-bottom: 27px;
            max-width: 55%;
            opacity: 0;
            visibility: hidden;
            animation: opacityUp .5s ease forwards .5s;
        }

        &__text {
            color: #D0D1DB;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px; 
            letter-spacing: -0.3px;
            max-width: 35%;
            margin-bottom: 35px;
            opacity: 0;
            visibility: hidden;
            animation: opacityUp .5s ease forwards 1s;
        }

        &__button {
            display: flex;
            height: 60px;
            padding: 9px 12px 11px 26px;
            justify-content: flex-end;
            align-items: center;
            gap: 30px;
            border-radius: 50px;
            background: rgba(255, 255, 255, 0.10);
            backdrop-filter: blur(5px);
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
            line-height: 20.8px; 
            opacity: 0;
            visibility: hidden;
            animation: opacityUp .5s ease forwards 1s;

            i {
                display: inline-flex;
                align-items: center;
                justify-content: center;    
                width: 40px;
                height: 40px;
                border-radius: 9999px;
                background: #FFF;
                transition: all .5s ease 0s;
            }

            &:hover {
                background: #FFF;
                color: #101014;

                i {
                    transform: rotate(45deg);
                }
            }
        }

        &__image-wrapper {
           flex-flow: row;
            flex: none;
            place-content: center flex-end;
            align-items: center;
            gap: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
         }
        &__image {
            flex-flow: row;
            flex: .45 0 0;
            place-content: center;
            align-items: center;
            gap: 10px;
            width: 1px;
            height: 100%;
            border-radius: 10px;
            display: flex;
            position: relative;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: inherit;
                object-position: center center;
                object-fit: cover;
                opacity: 0;
                visibility: hidden;
                animation: opacityUp .5s ease forwards;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 168px;
                flex-shrink: 0;
                opacity: 0.8;
                background: linear-gradient(180deg, #101014 0%, rgba(16, 16, 20, 0.00) 100%);
                z-index: 1;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 420px;
                flex-shrink: 0;
                opacity: 0.8;
                background: linear-gradient(0deg, #101014 0%, rgba(16, 16, 20, 0.00) 100%);
                z-index: 1;
            }
        }
    }
}

@keyframes opacityUp {
    0% {
       opacity: 0;
       visibility: hidden;
    }
    100% {
       opacity: 1;
         visibility: visible;
    }

}
@keyframes shadow {
    0% {
        box-shadow: 0 0 4px #00FF08;
    }
    50% {
        box-shadow: 0 0 12px #00FF08;
    }
    100% {
        box-shadow: 0 0 4px #00FF08;
    }
}