header {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 9;
    padding: 0 40px;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height: 1;

            &__logo {
                color: #FFF;
                font-family: Inter;
                font-size: 24px;
                font-weight: 600;
                line-height: 28.8px;

                span {
                    color: #F00;
                }
            }

            &__nav-link {
                div {
                    display: none;

                    
                }
            }

            &__nav {
                ul {
                    display: flex;
                    gap: 20px;
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;
                        padding: 10px;
                        color: #FFF;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 18px;
                        letter-spacing: -0.1px;
                    }
                }
            }

        }
}