@media (max-width: 768px) {

h2 {
    font-size: 38px;
    line-height: 41.8px;
}

    header {
    top: 30px;
    padding: 0 30px;
}
    header .header {
        height: 58.8px;
        padding: 14px 20px 15.8px 20px;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.60);
        backdrop-filter: blur(5px);

        &.nav-opened {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background: rgba(0, 0, 0, 0.90);

            .header__nav ul {
                height: 85vh;
            }
        }
    }

    header .header__nav-link .header__nav-link {
        &--open {
        display: flex;
        }
    }

    .header .header__nav ul {
        flex-direction: column;
        position: absolute;
        top: 58px;
        left: 0;
        right: 0;
        height: 0;
        overflow: hidden; 
        padding: 0 10px;
        background: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(5px);
        border-radius: 0 0 10px 10px;
        transition: all 0.3s ease;

        li {
            font-size: 28px;
        }
    }

    .top {
        padding: 20px;
    }

    .top .top-block {

        .top-block__title {
            font-size: 34px;
            line-height: 40.8px;
        }

        .top-block__text {
            font-size: 20px;
            line-height: 30px;
        }
        
    }

    .text {
        padding: 100px 20px;
        .text-block {
            gap: 30px;

            .text-block__content p {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }

    .faq {
         padding: 100px 20px;

         .faq-block__title p {
            font-size: 20px;
            line-height: 30px;
         }

         .faq-block__question {
            font-size: 16px;
            line-height: 22.4px;
         }


    }

    .reviews {
        padding: 100px 20px 0 20px;

        &__swiper {
            padding-bottom: 50px;

            .swiper-pagination {
                bottom: 10px;

                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    opacity: 0.5;
                    background: #101014;
                    
                    &.swiper-pagination-bullet-active {
                        opacity: 1;
                        background: #101014;
                    }
                }
            }
        }

        &__slide {
            height: 350px !important;
        }

    }

    footer {
        padding: 0 20px;
    }
    .footer {
        padding: 50px 20px;
    }
    
}